$bg-color: rgb(13,17,23);
$bg-item-color: rgb(28, 32, 39);
$bg-grad-color: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(61,61,61,1) 100%);

html {
    margin: 0px;
    padding: 0px;

    * { 
        @extend html; 
        font-family: monospace;
        color: white;
    }
}

#container {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 400px;
    width: 250px;
    color: white;
    background: rgb(2,0,36);
    background: $bg-grad-color;
    border: 1px solid white;

    #content {
        display: flex;
        place-items: center;
        flex-direction: column;
        flex-grow: 5;

        input {
            transition: 0.5s;
            text-align: center;
            height: 50px;
            width: 150px;
            margin: 0px 0px 100px 0px;
            color: white;
            background-color: $bg-item-color;
            border: 1px solid white;
            border-radius: 15px;

            &:hover, :focus {
                background-color: rgb(46, 52, 63);
            }
        }

        #title {
            font-size: xx-large;
            margin: 30px 0px 0px 0px;
        }

        #inner-content {
            margin: 20px 5px 0px 5px;
        }
    }

    #footer {
        font-size: larger;
        margin: 10px;
    }
}

.btnClass {
    transition: 0.25s;
    height: 50px;
    width: 150px;
    color: white;    
    background-color: $bg-item-color;
    border: 1px solid white;
    border-radius: 15px;

    &:active {
        background-color: rgb(77, 85, 98);
    }
}

.btnSmallClass {
    @extend *;
    height: 50px;
    width: 50px;
    margin: 5px;
    background-color: $bg-item-color;
    border: 1px solid white;
    border-radius: 20px;

    &:hover {
        background-color: rgb(46, 52, 63);
    }
    &:active {
        background-color: $bg-item-color;
    }
}