$bg-color: rgb(13,17,23);
$bg-item-color: rgb(28, 32, 39);
$bg-grad-color: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(61,61,61,1) 100%);

html {
    margin: 0px;
    padding: 0px;

    * { 
        @extend html; 
        font-family: monospace;
        color: white;
    }
}

#container {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    width: 260px;
    color: white;
    // background: $bg-grad-color, rgb(2,0,36);
    background-image: url("../img/sc_beach_2.gif    ");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;

    input {
        transition: 0.5s;
        text-align: center;
        height: 50px;
        width: 120px;
        margin: 0px 0px 10px 0px;
        color: white;
        background-color: $bg-item-color;
        border: 1px solid white;
        border-radius: 15px;

        &:hover, &:focus {
            transform: scale(1.05);
            background-color: rgb(46, 52, 63);
        }
    }

    .header {
        h1 {
            font-size: xx-large;
            margin: 30px 0px 0px 0px;    
        }
    }

    .normal-div {
        display: flex;
        place-items: center;
        flex-direction: column;
        
        &:nth-child(2) {
            margin: 10px 5px 0px 5px;
        }

        &:last-child {
            flex-grow: 1;
            font-size: larger;
            margin: 10px;
        }
    }

    .inner-normal-div {
        margin: 5px 5px 0px 5px;
    }
}

.btnClass {
    transition: 0.5s;
    text-align: center;
    height: 50px;
    width: 100px;
    color: white;
    background-color: $bg-item-color;
    border: 1px solid white;
    border-radius: 25px;

    &:hover {
        transform: scale(1.05);
    }
    &:active {
        background-color: $bg-color;
    }
}

.btnSmallClass {
    @extend *;
    transition: 0.5s;
    height: 50px;
    width: 50px;
    margin: 5px;
    background-color: $bg-item-color;
    border: 1px solid white;
    border-radius: 20px;

    &:hover {
        transform: scale(1.05);
        background-color: rgb(46, 52, 63);
    }
    &:active {
        background-color: $bg-item-color;
    }
}

.shape {
    transition: 0.5s;
    height: 35px;
    width: 35px;
    background-color: $bg-item-color;
    border-radius: 50%;
}

.active {
    background-color: blue;
}