$bg-color: rgb(13,17,23);
$bg-item-color: rgb(28, 32, 39);

html {
    margin: 0px;
    padding: 0px;
    overflow: hidden;

    * { 
        @extend html; 
        font-family: monospace;
        color: white;
    }
}

#container {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 400px;
    width: 300px;
    color: white;
    background-color: $bg-color;
    border: 1px solid white;

    #content {
        display: flex;
        place-items: center;
        flex-direction: column;
        flex-grow: 5;

        input {
            text-align: center;
            height: 50px;
            width: 150px;
            color: white;
            background-color: $bg-item-color;
            border: 1px solid white;
            border-radius: 15px;
        }

        #title {
            font-size: xx-large;
            margin: 30px 0px 0px 0px;
            border-bottom: 1px solid white;
        }

        #inner-content {
            margin: 20px 5px 0px 5px;
        }
    }

    #footer {
        margin: 10px;
    }
}

.btnClass {
    transition: 0.25s;
    height: 50px;
    width: 150px;
    color: white;    
    background-color: $bg-item-color;
    border: 1px solid white;
    border-radius: 15px;
}



.btnClassActive {
    background-color: rgb(77, 85, 98);
}

.btnSmallClass {
    @extend *;
    height: 50px;
    width: 50px;
    margin: 5px;
    background-color: $bg-item-color;
    border: 1px solid white;
    border-radius: 20px;
}

.btnSmallClass:hover {
    background-color: rgb(46, 52, 63);
}