$bg-color: rgb(13,17,23);
$bg-item-color: rgb(28, 32, 39);

html {
    margin: 0px;
    padding: 0px;
    overflow: hidden;

    * { 
        @extend html; 
        font-family: monospace;
    }
}

#container {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 300px;
    width: 200px;
    color: white;
    background-color: $bg-color;

    #content {
        display: flex;
        place-items: center;
        flex-direction: column;
        margin: 50px 0px 0px 0px;

        * {
            margin: 20px;
        }

        input {
            text-align: center;
            height: 50px;
            width: 150px;
            color: white;
            background-color: $bg-item-color;
            border: 1px solid white;
            border-radius: 15px;
        }
    }
}

.btnClass {
    transition: 0.25s;
    height: 50px;
    width: 150px;
    color: white;    
    background-color: $bg-item-color;
    border: 1px solid white;
    border-radius: 15px;
}

.btnClass:hover {
    background-color: rgb(46, 52, 63);
}

.btnClassActive {
    background-color: rgb(77, 85, 98);
}